/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
     font-family: "Open Sans", sans-serif;
     color: #444444;
 }
 
 a {
     color: #1acc8d;
 }
 
 a:hover {
     color: #34e5a6;
     text-decoration: none;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Montserrat", sans-serif;
 }
 
 
 /*--------------------------------------------------------------
 # Preloader
 --------------------------------------------------------------*/
.privacy{
     padding-bottom: 1rem!important;
}
 #mainsection{
      justify-content: center!important;
 }
 .privacypolicypage
 {
    text-align: justify;
     
 }
 #preloader {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     overflow: hidden;
     background: #fff;
 }
 
 #preloader:before {
     content: "";
     position: fixed;
     top: calc(50% - 30px);
     left: calc(50% - 30px);
     border: 6px solid #b01c49;
     border-top-color: #fff;
     border-radius: 50%;
     width: 60px;
     height: 60px;
     -webkit-animation: animate-preloader 1s linear infinite;
     animation: animate-preloader 1s linear infinite;
 }
 
 @-webkit-keyframes animate-preloader {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 
 @keyframes animate-preloader {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 
 
 /*--------------------------------------------------------------
 # Back to top button
 --------------------------------------------------------------*/
 
 .back-to-top {
     position: fixed;
     display: none;
     right: 15px;
     bottom: 15px;
     z-index: 99999;
 }
 
 .back-to-top i {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 24px;
     width: 40px;
     height: 40px;
     border-radius: 50px;
     background: #179ed9;
     color: #fff;
     transition: all 0.4s;
 }
 
 .back-to-top i:hover {
     background: #2be4a2;
     color: #fff;
 }
 
 
 /*--------------------------------------------------------------
 # Disable AOS delay on mobile
 --------------------------------------------------------------*/
 
 @media screen and (max-width: 768px) {
     [data-aos-delay] {
         transition-delay: 0 !important;
     }
 }
 
 
 /*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
 
 #header {
     height: 80px;
     transition: all 0.5s;
     z-index: 997;
     transition: all 0.5s;
     background: rgba(1, 4, 136, 0.9);
 }
 
 #header.header-transparent {
     background: transparent;
 }
 
 #header.header-scrolled {
     background: #4F6472;
     height: 90px;
 }
 
 #header .logo h1 {
     font-size: 28px;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-weight: 700;
 }
 #header .logo a{
      color: #ffffff;
      letter-spacing: 1px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
 }
 #header .logo h1 a,
 #header .logo h1 a:hover {
     color: #fff;
     text-decoration: none;
 }
 
 #header .logo img {
     padding: 0;
     margin: 0;
     width: 70px;
 }
 
 @media (max-width: 992px) {
     #header {
         height: 64px;
     }
     #header .logo h1 {
         font-size: 28px;
     }
 }
 
 
 /*--------------------------------------------------------------
 # Navigation Menu
 --------------------------------------------------------------*/
 
 
 /* Desktop Navigation */
 
 .nav-menu,
 .nav-menu * {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 .nav-menu>ul>li {
     position: relative;
     white-space: nowrap;
     float: left;
 }
 
 .nav-menu a {
     display: block;
     position: relative;
     color: #ffffff;
     padding: 10px 19px;
     transition: 0.3s;
     font-size: 15px;
     font-weight: 500;
     font-family: "Poppins", sans-serif;
     border: 1px solid #fff;
 }
 
 .nav-menu a:hover:before,
 .nav-menu li:hover>a:before,
 .nav-menu .active>a:before {
     visibility: visible;
     width: 25px;
 }
 
 .nav-menu a:hover,
 .nav-menu .active>a,
 .nav-menu li:hover>a {
     color: #fff;
     text-decoration: none;
 }
 
 .nav-menu .drop-down ul {
     display: block;
     position: absolute;
     left: 25px;
     top: calc(100% - 30px);
     z-index: 99;
     opacity: 0;
     visibility: hidden;
     padding: 10px 0;
     background: #fff;
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
     transition: ease all 0.3s;
 }
 
 .nav-menu .drop-down:hover>ul {
     opacity: 1;
     top: 100%;
     visibility: visible;
     border-radius: 5px;
 }
 
 .nav-menu .drop-down li {
     min-width: 180px;
     position: relative;
 }
 
 .nav-menu .drop-down ul a {
     padding: 10px 20px;
     font-size: 14px;
     font-weight: 500;
     text-transform: none;
     color: #01036f;
 }
 
 .nav-menu .drop-down ul a:hover,
 .nav-menu .drop-down ul .active>a,
 .nav-menu .drop-down ul li:hover>a {
     color: #1acc8d;
 }
 
 .nav-menu .drop-down>a:after {
     content: "\ea99";
     font-family: IcoFont;
     padding-left: 5px;
 }
 
 .nav-menu .drop-down .drop-down ul {
     top: 0;
     left: calc(100% - 30px);
 }
 
 .nav-menu .drop-down .drop-down:hover>ul {
     opacity: 1;
     top: 0;
     left: 100%;
 }
 
 .nav-menu .drop-down .drop-down>a {
     padding-right: 35px;
 }
 
 .nav-menu .drop-down .drop-down>a:after {
     content: "\eaa0";
     font-family: IcoFont;
     position: absolute;
     right: 15px;
 }
 
 @media (max-width: 1366px) {
     .nav-menu .drop-down .drop-down ul {
         left: -90%;
     }
     .nav-menu .drop-down .drop-down:hover>ul {
         left: -100%;
     }
     .nav-menu .drop-down .drop-down>a:after {
         content: "\ea9d";
     }
 }
 
 
 /* Mobile Navigation */
 
 .mobile-nav-toggle {
     position: fixed;
     right: 15px;
     top: 15px;
     z-index: 9998;
     border: 0;
     background: none;
     font-size: 24px;
     transition: all 0.4s;
     outline: none !important;
     line-height: 1;
     cursor: pointer;
     text-align: right;
 }
 
 .mobile-nav-toggle i {
     color: #fff;
 }
 
 .mobile-nav {
     position: fixed;
     top: 55px;
     right: 15px;
     bottom: 15px;
     left: 15px;
     z-index: 9999;
     overflow-y: auto;
     background: #fff;
     transition: ease-in-out 0.2s;
     opacity: 0;
     visibility: hidden;
     border-radius: 10px;
     padding: 10px 0;
 }
 
 .mobile-nav * {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 .mobile-nav a {
     display: block;
     position: relative;
     color: #01036f;
     padding: 10px 20px;
     font-weight: 500;
     outline: none;
 }
 
 .mobile-nav a:hover,
 .mobile-nav .active>a,
 .mobile-nav li:hover>a {
     color: #1acc8d;
     text-decoration: none;
 }
 
 .mobile-nav .drop-down>a:after {
     content: "\ea99";
     font-family: IcoFont;
     padding-left: 10px;
     position: absolute;
     right: 15px;
 }
 
 .mobile-nav .active.drop-down>a:after {
     content: "\eaa1";
 }
 
 .mobile-nav .drop-down>a {
     padding-right: 35px;
 }
 
 .mobile-nav .drop-down ul {
     display: none;
     overflow: hidden;
 }
 
 .mobile-nav .drop-down li {
     padding-left: 20px;
 }
 
 .mobile-nav-overly {
     width: 100%;
     height: 100%;
     z-index: 9997;
     top: 0;
     left: 0;
     position: fixed;
     background: rgba(13, 18, 252, 0.6);
     overflow: hidden;
     display: none;
     transition: ease-in-out 0.2s;
 }
 
 .mobile-nav-active {
     overflow: hidden;
 }
 
 .mobile-nav-active .mobile-nav {
     opacity: 1;
     visibility: visible;
 }
 
 .mobile-nav-active .mobile-nav-toggle i {
     color: #fff;
 }
 
 
 /*--------------------------------------------------------------
 # Hero Section
 --------------------------------------------------------------*/
 
 #hero {
     width: 100%;
     position: relative;
     padding: 120px 0 0 0;
 }
 
 #hero:before {
     content: "";
     background: url(../img/banner.jpg);
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
     background-size: cover;
     background-position: bottom;
 }
 
 .banner-pad {
     margin: 80px 0;
 }
 
 #hero h1 {
     margin: 0 0 20px 0;
     font-size: 48px;
     font-weight: 700;
     line-height: 56px;
     color: #fff;
 }
 
 #hero h1 span {
     color: #fff;
     border-bottom: 4px solid #1acc8d;
 }
 
 #hero h2 {
     color: rgba(255, 255, 255, 0.8);
     margin-bottom: 40px;
     font-size: 24px;
 }
 
 #hero .btn-get-started {
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 10px 30px;
     border-radius: 50px;
     transition: 0.5s;
     color: #fff;
     background: #1acc8d;
 }
 
 #hero .btn-get-started:hover {
     background: #17b57d;
 }
 
 #hero .animated {
     animation: up-down 2s ease-in-out infinite alternate-reverse both;
 }
 
 @media (min-width: 1024px) {
     #hero {
         background-attachment: fixed;
     }
 }
 
 @media (max-width: 991px) {
     #hero {
         padding-top: 80px;
     }
     #hero .animated {
         -webkit-animation: none;
         animation: none;
     }
     #hero .hero-img {
         text-align: center;
     }
     #hero .hero-img img {
         max-width: 50%;
     }
     #hero h1 {
         font-size: 28px;
         line-height: 32px;
         margin-bottom: 10px;
     }
     #hero h2 {
         font-size: 18px;
         line-height: 24px;
         margin-bottom: 30px;
     }
 }
 
 @media (max-width: 575px) {
     #hero .hero-img img {
         width: 80%;
     }
 }
 
 @-webkit-keyframes up-down {
     0% {
         transform: translateY(10px);
     }
     100% {
         transform: translateY(-10px);
     }
 }
 
 @keyframes up-down {
     0% {
         transform: translateY(10px);
     }
     100% {
         transform: translateY(-10px);
     }
 }
 
 .hero-waves {
     display: block;
     margin-top: 60px;
     width: 100%;
     height: 60px;
     z-index: 5;
     position: relative;
 }
 
 .wave1 use {
     -webkit-animation: move-forever1 10s linear infinite;
     animation: move-forever1 10s linear infinite;
     -webkit-animation-delay: -2s;
     animation-delay: -2s;
 }
 
 .wave2 use {
     -webkit-animation: move-forever2 8s linear infinite;
     animation: move-forever2 8s linear infinite;
     -webkit-animation-delay: -2s;
     animation-delay: -2s;
 }
 
 .wave3 use {
     -webkit-animation: move-forever3 6s linear infinite;
     animation: move-forever3 6s linear infinite;
     -webkit-animation-delay: -2s;
     animation-delay: -2s;
 }
 
 @-webkit-keyframes move-forever1 {
     0% {
         transform: translate(85px, 0%);
     }
     100% {
         transform: translate(-90px, 0%);
     }
 }
 
 @keyframes move-forever1 {
     0% {
         transform: translate(85px, 0%);
     }
     100% {
         transform: translate(-90px, 0%);
     }
 }
 
 @-webkit-keyframes move-forever2 {
     0% {
         transform: translate(-90px, 0%);
     }
     100% {
         transform: translate(85px, 0%);
     }
 }
 
 @keyframes move-forever2 {
     0% {
         transform: translate(-90px, 0%);
     }
     100% {
         transform: translate(85px, 0%);
     }
 }
 
 @-webkit-keyframes move-forever3 {
     0% {
         transform: translate(-90px, 0%);
     }
     100% {
         transform: translate(85px, 0%);
     }
 }
 
 @keyframes move-forever3 {
     0% {
         transform: translate(-90px, 0%);
     }
     100% {
         transform: translate(85px, 0%);
     }
 }
 
 
 /*--------------------------------------------------------------
 # Sections General
 --------------------------------------------------------------*/
 
 section {
     padding: 60px 0;
     overflow: hidden;
 }
 
 .section-bg {
     background-color: #f5f5ff;
 }
 
 .section-title {
     padding-bottom: 40px;
 }
 
 .section-title h2 {
     font-size: 14px;
     font-weight: 500;
     padding: 0;
     line-height: 1px;
     margin: 0 0 5px 0;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #aaaaaa;
     font-family: "Poppins", sans-serif;
 }
 
 .section-title h2::after {
     content: "";
     width: 120px;
     height: 1px;
     display: inline-block;
     background: #1acc8d;
     margin: 4px 10px;
 }
 
 .section-title p {
     margin: 0;
     margin: 0;
     font-size: 36px;
     font-weight: 700;
     text-transform: uppercase;
     font-family: "Poppins", sans-serif;
     color: #179ed9;
 }
 
 
 /*--------------------------------------------------------------
 # Breadcrumbs
 --------------------------------------------------------------*/
 
 .breadcrumbs {
     padding: 20px 0;
     background-color: #fafaff;
     min-height: 40px;
     margin-top: 80px;
 }
 
 @media (max-width: 992px) {
     .breadcrumbs {
         margin-top: 64px;
     }
 }
 
 .breadcrumbs h2 {
     font-size: 24px;
     font-weight: 400;
     margin: 0;
 }
 
 @media (max-width: 992px) {
     .breadcrumbs h2 {
         margin: 0 0 10px 0;
     }
 }
 
 .breadcrumbs ol {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
     margin: 0;
     font-size: 14px;
 }
 
 .breadcrumbs ol li+li {
     padding-left: 10px;
 }
 
 .breadcrumbs ol li+li::before {
     display: inline-block;
     padding-right: 10px;
     color: #6c757d;
     content: "/";
 }
 
 @media (max-width: 768px) {
     .breadcrumbs .d-flex {
         display: block !important;
     }
     .breadcrumbs ol {
         display: block;
     }
     .breadcrumbs ol li {
         display: inline-block;
     }
     .details .content h3 {
         margin: 20px 0;
     }
 }
 
 
 /*--------------------------------------------------------------
 # About
 --------------------------------------------------------------*/
 
 .about {
     padding: 40px 0 0 0;
 }
 
 .about .icon-boxes h3 {
      margin-top: 20px !important;
     font-size: 28px;
     font-weight: 700;
     color:black;
     margin-bottom: 15px;
 }
 
 .about .icon-box {
     margin-top: 40px;
 }
 
 .about .icon-box .icon {
     float: left;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 64px;
     height: 64px;
     border: 2px solid #7ceec6;
     border-radius: 50px;
     transition: 0.5s;
 }
 
 .about .icon-box .icon i {
     color: #1acc8d;
     font-size: 32px;
 }
 
 .about .icon-box:hover .icon {
     background: #1acc8d;
     border-color: #1acc8d;
 }
 
 .about .icon-box:hover .icon i {
     color: #fff;
 }
 
 .about .icon-box .title {
     margin-left: 85px;
     font-weight: 700;
     margin-bottom: 10px;
     font-size: 18px;
 }
 
 .about .icon-box .title a {
     color: #343a40;
     transition: 0.3s;
 }
 
 .about .icon-box .title a:hover {
     color: #1acc8d;
 }
 
 .about .icon-box .description {
     margin-left: 85px;
     line-height: 24px;
     font-size: 14px;
 }
 
 .about .video-box {
     background: url("../img/about.png") center center no-repeat;
     background-size: contain;
     min-height: 300px;
 }
 
 .about .play-btn {
     width: 94px;
     height: 94px;
     background: radial-gradient(#3f43fd 50%, rgba(63, 67, 253, 0.4) 52%);
     border-radius: 50%;
     display: block;
     position: absolute;
     left: calc(50% - 47px);
     top: calc(50% - 47px);
     overflow: hidden;
 }
 
 .about .play-btn::after {
     content: '';
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-40%) translateY(-50%);
     width: 0;
     height: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     border-left: 15px solid #fff;
     z-index: 100;
     transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
 }
 
 .about .play-btn::before {
     content: '';
     position: absolute;
     width: 120px;
     height: 120px;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     -webkit-animation: pulsate-btn 2s;
     animation: pulsate-btn 2s;
     -webkit-animation-direction: forwards;
     animation-direction: forwards;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-timing-function: steps;
     animation-timing-function: steps;
     opacity: 1;
     border-radius: 50%;
     border: 5px solid rgba(63, 67, 253, 0.7);
     top: -15%;
     left: -15%;
     background: rgba(198, 16, 0, 0);
 }
 
 .about .play-btn:hover::after {
     border-left: 15px solid #3f43fd;
     transform: scale(20);
 }
 
 .about .play-btn:hover::before {
     content: '';
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-40%) translateY(-50%);
     width: 0;
     height: 0;
     border: none;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     border-left: 15px solid #fff;
     z-index: 200;
     -webkit-animation: none;
     animation: none;
     border-radius: 0;
 }
 
 @-webkit-keyframes pulsate-btn {
     0% {
         transform: scale(0.6, 0.6);
         opacity: 1;
     }
     100% {
         transform: scale(1, 1);
         opacity: 0;
     }
 }
 
 @keyframes pulsate-btn {
     0% {
         transform: scale(0.6, 0.6);
         opacity: 1;
     }
     100% {
         transform: scale(1, 1);
         opacity: 0;
     }
 }
 
 
 /*--------------------------------------------------------------
 # Features
 --------------------------------------------------------------*/
 
 .features .icon-box {
     display: flex;
     align-items: center;
     padding: 20px;
     background: #f5f5ff;
     transition: ease-in-out 0.3s;
 }
 
 .features .icon-box i {
     font-size: 32px;
     padding-right: 10px;
     line-height: 1;
 }
 
 .features .icon-box h3 {
     font-weight: 700;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-size: 16px;
 }
 
 .features .icon-box h3 a {
     color: #010483;
     transition: ease-in-out 0.3s;
 }
 
 .features .icon-box h3 a:hover {
     color: #01036f;
 }
 
 .features .icon-box:hover {
     background: #ebebff;
 }
 
 
 /*--------------------------------------------------------------
 # Counts
 --------------------------------------------------------------*/
 
 .counts {
     background: #f5f5ff;
     padding: 70px 0 60px;
 }
 
 .counts .count-box {
     padding: 30px 30px 25px 30px;
     width: 100%;
     position: relative;
     text-align: center;
     background: #fff;
 }
 
 .counts .count-box i {
     position: absolute;
     top: -25px;
     left: 50%;
     transform: translateX(-50%);
     font-size: 24px;
     background: #1acc8d;
     padding: 12px;
     color: #fff;
     border-radius: 50px;
 }
 
 .counts .count-box span {
     font-size: 36px;
     display: block;
     font-weight: 600;
     color: #b01c49;
 }
 
 .counts .count-box p {
     padding: 0;
     margin: 0;
     font-family: "Montserrat", sans-serif;
     font-size: 14px;
 }
 
 
 /*--------------------------------------------------------------
 # Details
 --------------------------------------------------------------*/
 
 .details .content h3 {
     font-weight: 600;
     font-size: 26px;
     color: #179ed9;
 }
 
 .details .content ul {
     list-style: none;
     padding: 0;
 }
 
 .details .content ul li {
     padding-bottom: 10px;
 }
 
 .details .content ul i {
     font-size: 20px;
     padding-right: 4px;
     color: #1acc8d;
 }
 
 .details .content p:last-child {
     margin-bottom: 0;
 }
 
 
 /*--------------------------------------------------------------
 # Gallery
 --------------------------------------------------------------*/
 
 .gallery .gallery-item {
     overflow: hidden;
     border-right: 3px solid #fff;
     border-bottom: 3px solid #fff;
 }
 
 .gallery .gallery-item img {
     transition: all ease-in-out 0.4s;
 }
 
 .gallery .gallery-item:hover img {
     transform: scale(1.1);
 }
 
 
 /*--------------------------------------------------------------
 # Testimonials
 --------------------------------------------------------------*/
 
 .testimonials {
     padding: 80px 0;
     background: url("../img/cta-bg.jpg") no-repeat;
     background-position: center center;
     background-size: cover;
     position: relative;
 }
 
 .testimonials::before {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background: rgba(1, 3, 111, 0.8);
 }
 
 .testimonials .section-header {
     margin-bottom: 40px;
 }
 
 .testimonials .testimonial-item {
     text-align: center;
     color: #fff;
 }
 
 .testimonials .testimonial-item .testimonial-img {
     width: 100px;
     border-radius: 50%;
     border: 6px solid rgba(255, 255, 255, 0.15);
     margin: 0 auto;
 }
 
 .testimonials .testimonial-item h3 {
     font-size: 20px;
     font-weight: bold;
     margin: 10px 0 5px 0;
     color: #fff;
 }
 
 .testimonials .testimonial-item h4 {
     font-size: 14px;
     color: #ddd;
     margin: 0 0 15px 0;
 }
 
 .testimonials .testimonial-item .quote-icon-left,
 .testimonials .testimonial-item .quote-icon-right {
     color: rgba(255, 255, 255, 0.4);
     font-size: 26px;
 }
 
 .testimonials .testimonial-item .quote-icon-left {
     display: inline-block;
     left: -5px;
     position: relative;
 }
 
 .testimonials .testimonial-item .quote-icon-right {
     display: inline-block;
     right: -5px;
     position: relative;
     top: 10px;
 }
 
 .testimonials .testimonial-item p {
     font-style: italic;
     margin: 0 auto 15px auto;
     color: #eee;
 }
 
 .testimonials .owl-nav,
 .testimonials .owl-dots {
     margin-top: 5px;
     text-align: center;
 }
 
 .testimonials .owl-dot {
     display: inline-block;
     margin: 0 5px;
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.4) !important;
 }
 
 .testimonials .owl-dot.active {
     background-color: #1acc8d !important;
 }
 
 @media (min-width: 1024px) {
     .testimonials {
         background-attachment: fixed;
     }
 }
 
 @media (min-width: 992px) {
     .testimonials .testimonial-item p {
         width: 80%;
     }
 }
 
 
 /*--------------------------------------------------------------
 # Team
 --------------------------------------------------------------*/
 
 .team {
     background: #fff;
 }
 
 .team .member {
     text-align: center;
     margin-bottom: 80px;
     position: relative;
 }
 
 .team .member .pic {
     border-radius: 4px;
     overflow: hidden;
 }
 
 .team .member img {
     transition: all ease-in-out 0.4s;
 }
 
 .team .member:hover img {
     transform: scale(1.1);
 }
 
 .team .member .member-info {
     position: absolute;
     bottom: -80px;
     left: 0px;
     right: 0px;
     background: rgba(255, 255, 255, 0.9);
     padding: 15px 0;
     border-radius: 0 0 4px 4px;
     box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
 }
 
 .team .member h4 {
     font-weight: 700;
     margin-bottom: 10px;
     font-size: 16px;
     color: #01036f;
     position: relative;
     padding-bottom: 10px;
 }
 
 .team .member h4::after {
     content: '';
     position: absolute;
     display: block;
     width: 50px;
     height: 1px;
     background: #0d12fc;
     bottom: 0;
     left: calc(50% - 25px);
 }
 
 .team .member span {
     font-style: italic;
     display: block;
     font-size: 13px;
     color: #01036f;
 }
 
 .team .member .social {
     margin-top: 10px;
 }
 
 .team .member .social a {
     transition: color 0.3s;
     color: #01036f;
 }
 
 .team .member .social a:hover {
     color: #1acc8d;
 }
 
 .team .member .social i {
     font-size: 16px;
     margin: 0 2px;
 }
 
 
 /*--------------------------------------------------------------
 # Pricing
 --------------------------------------------------------------*/
 
 .pricing .box {
     padding: 20px;
     background: #fff;
     text-align: center;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
     border-radius: 5px;
     position: relative;
     overflow: hidden;
 }
 
 .pricing h3 {
     font-weight: 400;
     margin: -20px -20px 20px -20px;
     padding: 20px 15px;
     font-size: 16px;
     font-weight: 600;
     color: #777777;
     background: #f8f8f8;
 }
 
 .pricing h4 {
     font-size: 36px;
     color: #1acc8d;
     font-weight: 600;
     font-family: "Poppins", sans-serif;
     margin-bottom: 20px;
 }
 
 .pricing h4 sup {
     font-size: 20px;
     top: -15px;
     left: -3px;
 }
 
 .pricing h4 span {
     color: #bababa;
     font-size: 16px;
     font-weight: 300;
 }
 
 .pricing ul {
     padding: 0;
     list-style: none;
     color: #444444;
     text-align: center;
     line-height: 20px;
     font-size: 14px;
 }
 
 .pricing ul li {
     padding-bottom: 16px;
 }
 
 .pricing ul i {
     color: #1acc8d;
     font-size: 18px;
     padding-right: 4px;
 }
 
 .pricing ul .na {
     color: #ccc;
     text-decoration: line-through;
 }
 
 .pricing .btn-wrap {
     margin: 20px -20px -20px -20px;
     padding: 20px 15px;
     background: #f8f8f8;
     text-align: center;
 }
 
 .pricing .btn-buy {
     background: #1acc8d;
     display: inline-block;
     padding: 8px 35px 10px 35px;
     border-radius: 50px;
     color: #fff;
     transition: none;
     font-size: 14px;
     font-weight: 400;
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     transition: 0.3s;
 }
 
 .pricing .btn-buy:hover {
     background: #149f6e;
 }
 
 .pricing .featured h3 {
     color: #fff;
     background: #1acc8d;
 }
 
 .pricing .advanced {
     width: 200px;
     position: absolute;
     top: 18px;
     right: -68px;
     transform: rotate(45deg);
     z-index: 1;
     font-size: 14px;
     padding: 1px 0 3px 0;
     background: #1acc8d;
     color: #fff;
 }
 
 
 /*--------------------------------------------------------------
 # F.A.Q
 --------------------------------------------------------------*/
 
 .faq .faq-list {
     padding: 0;
 }
 
 .faq .faq-list ul {
     padding: 0;
     list-style: none;
 }
 
 .faq .faq-list li+li {
     margin-top: 15px;
 }
 
 .faq .faq-list li {
     padding: 20px;
     background: #fff;
     border-radius: 4px;
     position: relative;
 }
 
 .faq .faq-list a {
     display: block;
     position: relative;
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 500;
     padding: 0 30px;
     outline: none;
 }
 
 .faq .faq-list .icon-help {
     font-size: 24px;
     position: absolute;
     right: 0;
     left: 20px;
     color: #34e5a6;
 }
 
 .faq .faq-list .icon-show,
 .faq .faq-list .icon-close {
     font-size: 24px;
     position: absolute;
     right: 0;
     top: 0;
 }
 
 .faq .faq-list p {
     margin-bottom: 0;
     padding: 10px 0 0 0;
 }
 
 .faq .faq-list .icon-show {
     display: none;
 }
 
 .faq .faq-list a.collapsed {
     color: #343a40;
 }
 
 .faq .faq-list a.collapsed:hover {
     color: #1acc8d;
 }
 
 .faq .faq-list a.collapsed .icon-show {
     display: inline-block;
 }
 
 .faq .faq-list a.collapsed .icon-close {
     display: none;
 }
 
 @media (max-width: 1200px) {
     .faq .faq-list {
         padding: 0;
     }
 }
 
 
 /*--------------------------------------------------------------
 # Contact
 --------------------------------------------------------------*/
 
 .contact .info {
     width: 100%;
     background: #fff;
 }
 
 .contact .info i {
     font-size: 20px;
     color: #179ed9;
     float: left;
     width: 44px;
     height: 44px;
     background: #f0f0ff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50px;
     transition: all 0.3s ease-in-out;
 }
 
 .contact .info h4 {
     padding: 0 0 0 60px;
     font-size: 22px;
     font-weight: 600;
     margin-bottom: 5px;
     color: #000;
 }
 
 .contact .info p {
     padding: 0 0 0 60px;
     margin-bottom: 0;
     font-size: 14px;
     color: #000;
 }
 
 .contact .info .email,
 .contact .info .phone {
     margin-top: 40px;
 }
 
 .contact .info .email:hover i,
 .contact .info .address:hover i,
 .contact .info .phone:hover i {
     background: #179ed9;
     color: #fff;
 }
 
 .contact .php-email-form {
     width: 100%;
     background: #fff;
 }
 
 .contact .php-email-form .form-group {
     padding-bottom: 8px;
 }
 
 .contact .php-email-form .validate {
     display: none;
     color: red;
     margin: 0 0 15px 0;
     font-weight: 400;
     font-size: 13px;
 }
 
 .contact .php-email-form .error-message {
     display: none;
     color: #fff;
     background: #ed3c0d;
     text-align: left;
     padding: 15px;
     font-weight: 600;
 }
 
 .contact .php-email-form .error-message br+br {
     margin-top: 25px;
 }
 
 .contact .php-email-form .sent-message {
     display: none;
     color: #fff;
     background: #18d26e;
     text-align: center;
     padding: 15px;
     font-weight: 600;
 }
 
 .contact .php-email-form .loading {
     display: none;
     background: #fff;
     text-align: center;
     padding: 15px;
 }
 
 .contact .php-email-form .loading:before {
     content: "";
     display: inline-block;
     border-radius: 50%;
     width: 24px;
     height: 24px;
     margin: 0 10px -6px 0;
     border: 3px solid #18d26e;
     border-top-color: #eee;
     -webkit-animation: animate-loading 1s linear infinite;
     animation: animate-loading 1s linear infinite;
 }
 
 .contact .php-email-form input,
 .contact .php-email-form textarea {
     border-radius: 0;
     box-shadow: none;
     font-size: 14px;
 }
 
 .contact .php-email-form input {
     height: 44px;
 }
 
 .contact .php-email-form textarea {
     padding: 10px 12px;
 }
 
 .contact .php-email-form button[type="submit"] {
     background: #179ed9;
     border: 0;
     padding: 10px 30px;
     color: #fff;
     transition: 0.4s;
     border-radius: 50px;
 }
 
 .contact .php-email-form button[type="submit"]:hover {
     background: #179ed9;
 }
 
 @-webkit-keyframes animate-loading {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 
 @keyframes animate-loading {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 
 
 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 
 #footer {
     background:#4F6472;
     padding: 0 0 30px 0;
     color: #fff;
     font-size: 14px;
 }
 
 #footer .footer-top {
     padding: 60px 0 30px 0;
 }
 
 #footer .footer-top .footer-info {
     margin-bottom: 15px;
     background: #010246;
     color: #fff;
     border-top: 4px solid #1acc8d;
     text-align: center;
     padding: 30px 20px;
 }
 
 #footer .footer-top .footer-info h3 {
     font-size: 24px;
     margin: 0 0 20px 0;
     padding: 2px 0 2px 0;
     line-height: 1;
     font-weight: 700;
 }
 
 #footer .footer-top .footer-info p {
     font-size: 14px;
     line-height: 24px;
     margin-bottom: 0;
     font-family: "Montserrat", sans-serif;
 }
 
 #footer .footer-top .social-links a {
     font-size: 18px;
     display: inline-block;
     color: #fff;
     line-height: 1;
     padding: 8px 0;
     margin-right: 4px;
     border-radius: 50%;
     text-align: center;
     width: 36px;
     height: 36px;
     transition: 0.3s;
 }
 
 #footer .footer-top .social-links a:hover {
     background: #1acc8d;
     color: #fff;
     text-decoration: none;
 }
 
 #footer .footer-top h4 {
     font-size: 16px;
     font-weight: 600;
     color: #fff;
     position: relative;
     padding-bottom: 12px;
 }
 
 #footer .footer-top .footer-links {
     margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-links ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 #footer .footer-top .footer-links ul i {
     padding-right: 2px;
     color: #61ebba;
     font-size: 18px;
     line-height: 1;
 }
 
 #footer .footer-top .footer-links ul li {
     padding: 10px 0;
     display: flex;
     align-items: center;
 }
 
 #footer .footer-top .footer-links ul li:first-child {
     padding-top: 0;
 }
 
 #footer .footer-top .footer-links ul a {
     color: #fff;
     transition: 0.3s;
     display: inline-block;
     line-height: 1;
 }
 
 #footer .footer-top .footer-links ul a:hover {
     color: #4be8b0;
 }
 
 #footer .footer-top .footer-newsletter form {
     margin-top: 30px;
     background: #fff;
     padding: 6px 10px 6px 15px;
     position: relative;
     border-radius: 50px;
 }
 
 #footer .footer-top .footer-newsletter form input[type="email"] {
     border: 0;
     padding: 4px;
     width: calc(100% - 110px);
 }
 
 #footer .footer-top .footer-newsletter form input[type="submit"] {
     position: absolute;
     top: 0;
     right: -2px;
     bottom: 0;
     border: 0;
     background: none;
     font-size: 16px;
     padding: 0 20px;
     background: #1acc8d;
     color: #fff;
     transition: 0.3s;
     border-radius: 50px;
 }
 
 #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
     background: #149f6e;
 }
 
 #footer .copyright {
     text-align: center;
     padding-top: 30px;
 }
 
 #footer .credits {
     padding-top: 10px;
     text-align: center;
     font-size: 13px;
     color: #fff;
 }
 
 .payments-list li {
     padding: 15px 20px;
     position: relative;
 }
 
 .payments-list li:before {
     content: "\efb7";
     font-family: IcoFont;
 }
 
 .payments-list li:before {
     content: "\efb7";
     font-family: IcoFont;
     font-size: 30px;
     color: #179ed9;
     left: -18px;
     position: absolute;
     top: 8px;
 }
 
 @media (max-width: 575px) {
     #footer .footer-top .footer-info {
         margin: -20px 0 30px 0;
     }
 }