.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.tim-typo .tim-note{
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.form-group input[type="file"] {

    opacity: 1 !important;
    position: relative !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1 !important;

}

#ofBar {
    display: none !important;
}
.login-error-message{
    margin-left: 55px; 
}
.text-lightblue{
    color: #9C27B0;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto{
    min-height: 50px;
}

label.error{
    color: #F00 !important;
}

form .form-group .error { 
    color:#495057; 
}

body .headcolor{
    background: #9C27B0 !important;
}

.fontcolor{
    color: #9C27B0 !important;
}

.samplecolor{
    color: #ffff !important;
}

.cardcolor{
    background: #9C27B0 !important;
}
.design-form1 .row .col-md-4,
.design-form1 .row .col-md-6,
.design-form1 .row .col-md-12{
    align-self: center !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after{
    content: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #9C27B0 !important;
    color: #FFF !important;
    border:1px solid #9C27B0; 
}
div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_length select {
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff; 
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: unset !important;
    border-color: #9C27B0 !important;
    color:#FFF !important;
}

.sidebar[data-color=rose] li.active>a{ box-shadow :unset !important;}

.sidebar[data-color=rose] li.active>a{ box-shadow :unset !important;}

#datatables_users_filter .form-control, .is-focused .form-control, 
#datatables_users_length .form-control, .is-focused .form-control ,
#datatables_products_filter .form-control, .is-focused .form-control,
#datatables_products_length .form-control, .is-focused .form-control,
#datatables_orders_filter .form-control, .is-focused .form-control,
#datatables_orders_length .form-control, .is-focused .form-control {
    background-image: unset !important;
}
/* {
    background-image: unset !important;
} */

body .login-form #datatables_users_filter .form-control, .is-focused .form-control,
.login-form #datatables_users_length .form-control, .is-focused .form-control {
    background-image: linear-gradient(
0deg
, #6f817f 2px, rgba(156, 39, 176, 0) 0), linear-gradient(
0deg
, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0) !important;

}

.asterisk{
   color: #F00 !important;
}

.chk-btn{
    width: 10%;
    padding: 10px 8px;
    font-size:13px;
}

.card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text){
    box-shadow: unset !important;
}

.bg-color{
    background-color: #4f6472 !important;
}

.login-error-message {
    margin-left: 55px;
    font-size: 13px;
    font-weight: 500;
}